body {
  font-family: "Open Sans", sans-serif;
  margin:0;
  background-color: #F8F8F8;
}
#wrapper {position:relative; width:100%;}
#map {
  width:100%;
  height:600px;
  position:relative;
  z-index:1;
}
#addLocation {
  border:1px solid;
  border-color: #A9A9A9;
  background-color: #F8F8F8;
  padding:0 10px 10px;
  z-index:99;
  width:9cm;
  position:absolute;
  top:0px;
  right:0px;
}
button {
  cursor:pointer;
  width:auto;
  height:2em;
  border:0px;
  color:white;
}
.submit {
  cursor:pointer;
  width:auto;
  height:2em;
  border:0px;
  color:white;
  background-color:#607D8B;
}
/* Colors are from Google*/
#addSpot {
  background-color:#2196F3;
}
#drawPath {
  background-color:#009688;
}
#removePath {
  background-color:#FF9800;
}
#deleteLocation {
  background-color:#F44336;
}
#pathList {
  position:relative;
  padding:0.5cm;
}

h2,h3, h4 {
  color:#F44336;
}
.navtext {
  font-weight: bold;
  color:#2196F3;
}
