body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  background-color: #001f3f;
}

#form {position: relative; width: 100%;}

#map {
  width: 100%;
  height: 600px;
  position: relative;
}

#buttons {
  border: 2px groove;
  border-color: #7CBEFF;
  background-color: #001f3f;
  padding: 0px 10px 10px;
  z-index: 1;
  width: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
}

button {
  cursor: pointer;
  width: auto;
  height: 20px;
  border: 0px;
}

#addButton {
  background-color:#0074D9;
  color: #B2DBFF;
}

#resetButton {
  background-color:#85144b;
  color: #EE78B1;
}

#lResults {
  position: relative;
  text-align: center;
}

body, h1, h2, h3, h4 {
  color:#7CBEFF;
}

/* INTRO PAGE CSS */

#intro {
  width: 50%;
  border: 3px solid #7CBEFF;
  padding: 0px 30px 30px 30px;
  background-color: rgba(0, 31, 63, 0.85);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
}

#introtext {
 text-align: center; 
}

a {
  color: #EE78B1
}

#vid {
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
}

#overlay {
  position: fixed;
  z-index: -500;
  width: 100%;
  height: 100%;
}
